{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Particle Sandbox",
    "description" : "Particle FHIR Sandbox Operations below. Search for a patient then pull back any data required. Please contact support@particlehealth.com for a valid Auth Token",
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "https://fhirtest.particlehealth.com"
  } ],
  "security" : [ {
    "BearerAuth" : [ ]
  } ],
  "paths" : {
    "/fhir/stu3/AllergyIntolerance/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Appointment/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "patient",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/metadata" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/CarePlan/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Claim/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Financial" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Condition/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Consent/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Foundation" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/fhir+json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/DiagnosticReport/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/DocumentReference/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Foundation" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Encounter/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Base" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/ExplanationOfBenefit/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Financial" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/FamilyMemberHistory/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf/"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/fhir+json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/ImagingStudy/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Immunization/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/MedicationRequest" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        }, {
          "name" : "npi",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "1770589525"
        }, {
          "name" : "authoredon",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "gt2016-01-01"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Observation/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Patient/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Base" ],
        "parameters" : [ {
          "name" : "given",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "Allegra"
        }, {
          "name" : "birthdate",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "eq1954-05-04"
        }, {
          "name" : "gender",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "Female"
        }, {
          "name" : "npi",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "1770589525"
        }, {
          "name" : "family",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "Jones"
        }, {
          "name" : "address-postalcode",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "02740"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Patient/7920a7f3-044f-48d9-b222-6677e1e3e8f6/$everything" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Base" ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Practitioner/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Base" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    },
    "/fhir/stu3/Procedure/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "tags" : [ "Clinical" ],
        "parameters" : [ {
          "name" : "subject",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "3a5fcd8a-6689-42c3-a097-5065d2fc94bf"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://fhirtest.particlehealth.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://fhirtest.particlehealth.com"
      } ]
    }
  },
  "components" : {
    "securitySchemes" : {
      "BearerAuth" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    }
  },
  "tags" : [ {
    "name" : "Base"
  }, {
    "name" : "Clinical"
  }, {
    "name" : "Financial"
  }, {
    "name" : "Foundation"
  } ]
}